/* to keep in center all sections */
.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* header section styles */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/BannerImage.png');
    background-size: 1320px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.banner-content {
    text-align: center;
    color: #FFF;
    font-family: 'Merriweather';
    padding: 150px;
    font-style: bold;
    font-weight: 600;
}

.banner-wish {
    font-size: 32px;
}

.banner-celebration {
    font-size: 72px;
}

/* main section styles */
/* section1 */
.sec1-content {
    font-family: 'Inter';
    text-align: center;
}

.off {
    color: #F00;
    font-size: 88px;
}

.deal {
    color: #F00;
    font-size: 24px
}

.category {
    color: #070211;
    font-size: 48px;
}

.sec1-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

/* section2 */
.bck-img {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px;
    height: 600px;
    padding-bottom: 200px;
}

.section-2 {
    display: flex;
    padding: 130px;
    justify-content: space-between;
}

.sec2-content {
    margin-right: 150px;
}

.welcome {
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 55px;
    letter-spacing: 7.04px;
}

.greetings {
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 18px;
}

.join {
    font-family: 'Inter';
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 8px;
    background: #f00;
    color: white;
}

.join:hover {
    background-color: #04AA6D;
}

/* section3 */
.section-3 {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 200px;
    padding: 50px;
    text-align: center;
}

.info {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
}

span {
    color: #070211;
}

.btn {
    font-family: 'Inter';
    font-size: 15px;
    text-transform: uppercase;
    display: inline-flex;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    margin-top: 30px;
    color: #FFF;
}

.btn:hover {
    background-color: #04AA6D;
}

/* section4 */
.section-4 {
    display: flex;
    justify-content: space-evenly;
    column-gap: 150px;
    padding-top: 250px;
}

.come-soon {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
}

.column1 {
    padding-left: 80px;
}

.column2 {
    border-radius: 100%;
    border: 15px solid #F00;
    padding: 30px 30px;
}

.column3 {
    padding-right: 70px;
}

.twenyfour {
    color: #F00;
    font-family: 'Inter';
    font-size: 48px;
}

/* section5 */
.section-5 {
    padding-top: 150px;
    background-image: url('../images/Rectangle2.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.sec5-content {
    text-align: center;
    padding-bottom: 100px;
}

.func {
    color: #070211;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
}

.holi {
    color: #F00;
    font-family: 'Merriweather';
    font-size: 40px;
}

.sale {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 40px;
}

.col {
    display: flex;
}

.lady {
    background-image: url('../images/Rectangle1.png');
    background-repeat: no-repeat;
    width: 1320px;
    background-position: top right;
}

.dis {
    width: 220px;
    height: 220px;
    transform: rotate(-10.212deg);
    padding-top: 100px;
}

/* section-6 */
.section-6 {
    padding-top: 80px;
}

.p-port {
    width: 600px;
    height: 50px;
}

.title {
    color: #F00;
    font-family: 'Inter';
    font-size: 15px;
    height: 10px;
}

.h-port {
    color: #070211;
    font-family: 'Merriweather';
    font-size: 35px;
    height: 30px;
}

.img-col-1 {
    display: flex;
    column-gap: 20px;
    padding-bottom: 20px;
    border-radius: 16px;
}

.img-col-2 {
    display: flex;
    column-gap: 20px;
    border-radius: 16px;
    padding-bottom: 100px;
}

/* section7 */
.section7{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.email {
    padding-top: 100px;
    padding-left: 580px;
}

.subs-title {
    color: #070211;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 40px;
}

.subs {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    width: 900px;
    padding-left: 190px;
}

.in-e {
    /* border-radius: 50px; */
    background: #FFF;
    width: 300px;
    height: 30px;
}

.subs-btn {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    width: 150px;
    height: 35px;
}

.subs-btn:hover {
    background-color: #04AA6D;
}

.buttn {
    padding-left: 450px;
    padding-top: 50px;
    padding-bottom: 80px;
}

/* footer section styles */
footer {
    background: #070211;
    color: #FFF;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer {
    display: flex;
    justify-content: space-between;
}

.col1 {
    width:250px;
}
hr.line{
    border-top: 1px solid #FFFFFF26;
}
.icon{
    display: flex;
    justify-content: center;
    gap:10px;
}
.ending{
    display: flex;
    justify-content: space-between;
}